{% extends "base_about.html" %}

{% block primary-content %}
<div style="float:right; display: block; margin: 0em 0.7em 0.7em 0.7em;">
<img src="/imgs/bread_and_wine.jpg" style="border: none;" />
<blockquote><em><span style="font-size: 75%;">Bread and wine</span></em></blockquote>
</div>
<h2>Belonging to HWEC</h2>


<h3>Baptism and church membership</h3>

<p>Membership of Hounslow West Evangelical Church is open to all Bible believing Christians, upon profession of personal, saving faith in Jesus Christ.</p>

<p>Those seeking membership are encouraged to profess their faith openly in the act of being baptised. There are different views held within the church on the validity of infant baptism, and a prospective member, baptised as an infant, who regards that as a valid baptism will not be refused membership on those grounds. Anyone who does not understand the issues relating to infant baptism as opposed to believer's baptism, or is unsure whether their infant baptism "counts" should discuss the matter with the minister or an elder.</p>

<p>Membership candidates are interviewed by the minister and elders, and their names are brought to a meeting of existing church members for approval or rejection. If a candidate professes faith and their daily life does not contradict their profession, and they are willing to commit themselves to the church - in attendance, prayerful concern for the work of the church, prayerful concern for the other members and their needs, and in helping to meet the material needs of the church, and are willing to submit to church discipline - then they should be accepted into membership.</p>

<p>Members and prospective members should be in agreement with the statements contained within the basis of faith. If they do not understand them fully, then they should strive to do so - within their own abilities and with God's help. However, inability to understand the Basis fully should not in itself be a bar to membership, so long as a candidate is not opposed to any of them.</p>

<p>For more information, don't hesitate to contact the minister <a href="mailto:minister@hwec.org.uk">Ron Hollands</a>, or one of the elders.</p>

<h3>Our history</h3>

<p>It all started on May 22nd, 1908, when a Miss Robbins was concerned for the spiritual well-being of her brother's employees and those in the locality. Her concern caused her to start meetings to worship God, which would mark the beginning of God's work, through this church, to make the Gospel of Jesus Christ known to the local community.</p>

<p>When the current church building was opened on Saturday, 28th March, 1959, the opening ceremony featured an account, by Miss Robbins of “Fifty Years in Retrospect - 1908-1958.”</p>

<p>Of course, much has happened since 1958, and we hope to be able to document more of the history of this church soon.</p>

<p><a href="#">Back to top &#8224;</a></p>

{% endblock %}
