{% extends "base_about.html" %}

{% block title %}Hounslow West Evangelical Church - About God...{% endblock %}

{% block primary-content %}
<div style="float:right; display: block; margin: 0em 0.7em 0.7em 0.7em;">
<img src="/imgs/nutshell.gif" style="border: 1px #e9e9e9 solid" />
<blockquote><em><span style="font-size: 75%;">A nutshell</span></em></blockquote>
</div>
<h2>Christianity in a nutshell</h2>

<h3><strong style="border-bottom: 1px solid #000">What we believe Scripture says</strong></h3>

<h4>God loves you</h4>

<p>"For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life" (John 3:16).</p>

<h4>God's plan</h4>

<p>Jesus came that we might have life, and that we may have it to the fullest (John 10:10). If God loves the whole world, why are most people not experiencing the full and meaningful life He offers?</p>

<h4>Our sin</h4>

<p>"...for all have sinned and fall short of the glory of God" (Romans 3:23).</p>

<h4>Our separation</h4>

<p>"For the wages of sin is death" (Romans 6:23). Sin costs! Its ultimate cost is death and an eternity apart from God's goodness. But God loves us and has provided a way for us to experience forgiveness of sin, abundant life on earth, and everlasting life in heaven.</p>
	
<h4>Jesus Christ</h4>

<p>"In the beginning was the Word, and the Word was with God, and the Word was God... The Word became flesh and made his dwelling among us" (John 1:1,14).</p>

<h4>Jesus died on the cross for us</h4>

<p>"For Christ died for sins once for all, the righteous for the unrighteous, to bring you to God" (1 Peter 3:18).</p>

<h4>Jesus defeated death for you</h4>

<p>"He was delivered over to death for our sins and was raised to life for our justification" (Romans 4:25).</p>

<h4>Our response</h4>

<p>It is not enough just to know the facts about Jesus. We must turn from our ways and turn to Him. We must receive Him to be saved. "Yet to all who received him, to those who believed in his name, he gave the right to become children of God" (John 1:12).</p>

<h4>How to receive Christ</h4>

<p>A personal relationship with God begins by praying to receive Christ: "Everyone who calls on the name of the Lord will be saved" (Romans 10:13).</p>

<p><em>Want to know more? Please email us at <a href="mailto:enquiries@hwec.org.uk">enquiries@hwec.org.uk</a>, or <a href="/about/location/">drop by the church if you live nearby</a>.</em></p>

{% endblock %}
