<!DOCTYPE html>

<!-- Hello there, {{ remote_addr }}. You will be catechised shortly... -->

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Hounslow West Evangelical Church{% endblock %}</title>
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="3 days" />
	<meta name="Description" content="Hounslow West Evangelical Church, 22 Vicarage Farm Road, Hounslow, Middlesex, TW3 4NW - located in west London (not far from Heathrow), UK" />
	<meta name="Keywords" content="Christian, Church, Jesus, Christ, Bible, Heathrow, Evangelical, Hounslow, West, London, UK" />
	<meta name="geo.position" content="51.4668;-0.3507" />
	<meta name="geo.region" content="GB-HNS" />
	<meta name="geo.placename" content="Hounslow" />
	<meta name="geo.country" content="GB" />
	<meta name="ICBM" content="51.4668;-0.3507" />
	<meta name="verify-v1" content="Ip47PHGIkG5uZ8Zmi4wwbrTyIOVLRlRdOBStjQV7a0A=" />
<!--	<meta http-equiv="PICS-Label" content="(PICS-1.1 'http://www.icra.org/ratingsv02.html' l gen true for 'http://www.hwec.org.uk/' r (cz 1 lz 1 nz 1 oz 1 vz 1) 'http://www.rsac.org/ratingsv01.html' l gen true for 'http://www.hwec.org.uk/' r (n 0 s 0 v 0 l 0))" /> -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.tweet.js"></script>
	<script type="text/javascript" src="/scripts/jquery.hoverIntent.min.js"></script>
	<script type="text/javascript" src="/scripts/script.js"></script>
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[
		_uacct = "UA-153165-2";
		urchinTracker();
	// ]]>
	</script>
	{% block javascript %}{% endblock %}
</head>

<body>
	<a href="#content" style="display: none;">Skip to content</a>
	<div id="container">
		
		<header>
			<blockquote>
				<p>&#8220;For we do not preach ourselves,</p>
				<p class="indent">but Jesus Christ as Lord,</p>
				<p class="indent">and ourselves as your servants for Jesus&#8217; sake.&#8221;</p>
				<p class="ref" style="font-variant: small-caps;">&mdash; 2 Corinthians 4:5 (<span>niv</span>)</p>
			</blockquote>
			<h1><a href="/">Hounslow West Evangelical Church</a></h1>
		</header> <!-- #header -->
		
		<nav>
			<ul id="menu">
				<li>
					<h2>
						<a href="/">Home</a>
					</h2>
					<div>
						Welcome, latest sermons, and more...
					</div>
				</li>
				<li class="mega">
					<h2>
						<a href="/about/">About us</a>
					</h2>
					<div>
						<h3>Who, what, why?</h3>
						<p>
							<a href="/about/#Who_are_we?">Who are we?</a> 
							<a href="/about/#What_do_we_believe?">What do we believe?</a> 
							<a href="/about/#Why_do_we_exist?">Why do we exist?</a> 
							<!-- 2020 vision/mission statement -->
							<a href="/about/christianity/">Christianity in a nutshell...</a>
						</p>
						<h3>Where, how?</h3>
						<p>
							<a href="/about/location/">Where are you located?</a>
							<a href="/about/location/">How can I get there?</a>
						</p>
						<h3>Belonging to HWEC</h3>
						<p>
							<a href="/about/belonging/#Baptism_and_church_membership">Baptism and church membership</a>,
							<a href="/about/belonging/#Our_history">Our history...</a>
						</p>
					</div>
				</li>
				<li class="mega">
					<h2>
						<a href="/events/">Events</a>
					</h2>
					<div>
						<h3>Weekly</h3>
						<p>
							<a href="/events/#Worship_services">Worship services</a>,
							<a href="/events/#Sunday_school">Sunday school</a>,
							<a href="/events/#Prayer_meeting/bible_study/catechism">Prayer meeting/bible study/catechism</a>,
							<a href="/events/#11_up">11 up</a>,
							<a href="/events/#Women's_fellowship">Women's fellowship</a>,
							<a href="/events/#Football">Football...</a>
						</p>
						<h3>Monthly</h3>
						<p>
							<a href="/events/monthly/#Communion_service">Communion service</a>,
							<a href="/events/monthly/#Inspiration">Inspiration</a>,
							<a href="/events/monthly/#Lunch_and_listen">Lunch and listen</a>,
							<a href="/events/monthly/#Table_outreach">Table outreach</a>,
 							<a href="/events/monthly/#Care_home_services">Care home services</a>,
							<a href="/events/monthly/#Ladies'_evening_bible_study">Ladies' evening bible study</a>,
							<a href="/events/monthly/#Men's_breakfast">Men's breakfast</a>,
							<a href="/events/monthly/#16+">16+...</a>
						</p>
						<h3>Annual/seasonal</h3>
						<p>
							<a href="/events/annual/#Mission_Sunday">Mission Sunday</a>,
						  <a href="/events/annual/#Church_outing">Church outing</a>,
						  <a href="/events/annual/#Holiday_club">Holiday club</a>,
						  <a href="/events/annual/#Harvest_thanksgiving">Harvest thanksgiving</a>,
						  <a href="/events/annual/#Christmas_services">Christmas services</a>,
						  <a href="/events/annual/#Easter_meetings">Easter meetings...</a>
						</p>
					</div>
				</li>
				<li class="mega">
					<h2>
						<a href="/resources/">Resources</a>
					</h2>
					<div>
						<h3>Search</h3>	
						<p>
							<form action="/resources/find/" method="post">
								<input name="q" type="search" size="21" placeholder="Sermon, article, etc." autofocus>
								<input type="submit" value="Find">
							</form>
							<a href="/resources/find/#Advanced_search">Advanced search...</a>
						</p>
						<h3>Sermons</h3>
						<p>
							<a href="/resources/sermons/#Sunday_ministry">Sunday ministry</a>, 
							<a href="/resources/sermons/#Special">Special...</a>
						</p>
						<h3>Articles</h3>
						<p>
							<a href="/resources/articles/#Public">Public</a>,
							Private <a href="/log-in/">(member log-in required)...</a>
						</p>
						<h3>Books</h3>
						<p>
							<a href="/resources/books/#Bookstall">Bookstall</a>, 
							<a href="/resources/books/#Library">Library</a>,
							<a href="/resources/books/#HWEC_publications">HWEC publications...</a>
						</p>
						<h3>Miscellaneous</h3>
						<p>
							<a href="/resources/misc/#11_up">11 up</a>,
							<a href="/resources/misc/#Inspiration">Inspiration</a>,
							<a href="/resources/misc/#16+">16+...</a>	
						</p>
					</div>
				</li>
				<li class="mega">
					<h2>
						<a href="/links/">Links</a>
					</h2>
					<div>
						<h3>Local</h3>
						<p>
							<a href="/links/local/#Churches">Churches</a>,
							<a href="/links/local/#Missions">Outreach...</a>
						</p>
						<h3>National</h3>
						<p>
							<a href="/links/national/#FIEC">FIEC</a>,
							<a href="/links/national/#Affinity">Affinity</a>,
							<a href="/links/national/#Praise!">Praise!</a>,
							<a href="/links/national/#UCCF">UCCF...</a>
						</p>
						<h3>Global</h3>
						<p>
							<a href="/links/global/#Dissions">Missions</a>,
							<a href="/links/global/#Other">Other...</a>
						</p>	
					</div>
				</li>
				<li class="last">
					<h2>
						<a href="/contact/">Contact us</a>
					</h2>
					<div>
					
					</div>
				</li>
			</ul>
		</nav> <!-- #nav -->
		
		<div id="content">
			
			{% block content %}{% endblock %}
					
		</div> <!-- #content -->
		
		<footer>

			<!-- for more information about microformats goto http://microformats.org/ -->
			<div class="vcard">	
				<a class="url fn" href="http://www.hwec.org.uk/">Hounslow West Evangelical Church</a>
				<div class="adr">
					<div class="street-address">22 Vicarage Farm Road</div>
						<span class="locality">Hounslow</span>, 
						<span class="region">Middlesex</span>, 
						<span class="postal-code">TW3 4NW</span>
						<br />
						<span class="country-name">United Kingdom</span>
					</div>
					<div class="tel">+44 (020) 8570 6587</div>
					<p>Email: <a class="email" href="mailto:webmaster@hwec.org.uk">Webmaster</a></p>
			</div> <!-- .vcard -->

			<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/uk/">CC</a> 1908-{{ year }} HWEC</p>
			<p>HWEC is affiliated to the Fellowship of Independent Evangelical Churches (FIEC)</p>
			<p><a href="http://www.fiec.org.uk/"><img class="fiec" src="/imgs/fiec.gif" alt="FIEC logo" /></a></p>

		</footer> <!-- #footer -->
		
	</div> <!-- #container -->
</body>
</html>
<!--
   __________________________
 _|  __) _ \/  \/  \|_  /|__ |
|_| | +  __/ /\  /\ \/ /_/ - |
  |_|__\__/_/__\/__\_\___|___|
   
Powered by remza and Google... 
 
-->
