{% extends "base.html" %}

{% block title %}Hounslow West Evangelical Church - Upload a sermon{% endblock %}

{% block content %}
		<div id="upload-sermon">
			<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" name="upload_sermon"> 
				<div class="row requiredRow">
					<label for="file" id="file-ariaLabel">file</label>
					<input id="file" name="file" type="file" aria-labelledby="file-ariaLabel" class="required">
				</div>
				<div class="row">
					<label for="txt_tags" id="tags-ariaLabel">tags</label>
					<input id="txt_tags" name="txt_tags" type="text" aria-labelledby="tags-ariaLabel">
				</div>
				<div class="row requiredRow">
					<label for="date" id="date-ariaLabel">date</label>
					<input id="date" name="date" type="date" placeholder="YYYY-MM-DD" aria-labelledby="date-ariaLabel" class="required">
				</div>
				<div class="row requiredRow">
					<fieldset>
						<legend>isAM</legend>
						<span><input value="Yes" id="rad_isAM_1" name="rad_isAM" type="radio" aria-labelledby="isAM-ariaLabel" class="required" title="Yes. This is a required field"> <label for="rad_isAM_1" id="isAM-ariaLabel">Yes</label></span>
				 		<span><input value="No" id="rad_isAM_2" name="rad_isAM" type="radio" aria-labelledby="isAM-ariaLabel" class="required" title="No. This is a required field"> <label for="rad_isAM_2" id="isAM-ariaLabel">No</label></span>
				 	</fieldset>
				</div>
				<div class="row requiredRow">
					<label for="txt_title" id="title-ariaLabel">title</label>
					<input id="txt_title" name="txt_title" type="text" aria-labelledby="title-ariaLabel" class="required" title="title. This is a required field">
				</div>
				<div class="row requiredRow">
					<label for="txt_series" id="series-ariaLabel">series</label>
					<input id="txt_series" name="txt_series" type="text" aria-labelledby="series-ariaLabel" class="required" title="series. This is a required field">
				</div>
				<div class="row requiredRow">
					<label for="sel_book" id="book-ariaLabel">book</label>
					<select id="sel_book" name="sel_book" aria-labelledby="book-ariaLabel" class="required" title="book. This is a required field">
						<option value="Genesis">Genesis</option>
						<option value="Exodus">Exodus</option>
						<option value="Leviticus">Leviticus</option>
						<option value="Numbers">Numbers</option>
						<option value="Deuteronomy">Deuteronomy</option>
						<option value="Joshua">Joshua</option>
						<option value="Judges">Judges</option>
						<option value="Ruth">Ruth</option>
						<option value="1 Samuel">1 Samuel</option>
						<option value="2 Samuel">2 Samuel</option>
						<option value="1 Kings">1 Kings</option>
						<option value="2 Kings">2 Kings</option>
						<option value="1 Chronicles">1 Chronicles</option>
						<option value="2 Chronicles">2 Chronicles</option>
						<option value="Ezra">Ezra</option>
						<option value="Nehemiah">Nehemiah</option>
						<option value="Esther">Esther</option>
						<option value="Job">Job</option>
						<option value="Psalms">Psalms</option>
						<option value="Proverbs">Proverbs</option>
						<option value="Ecclesiastes">Ecclesiastes</option>
						<option value="Song of Songs">Song of Songs</option>
						<option value="Isaiah">Isaiah</option>
						<option value="Jeremiah">Jeremiah</option>
						<option value="Lamentations">Lamentations</option>
						<option value="Ezekiel">Ezekiel</option>
						<option value="Daniel">Daniel</option>
						<option value="Hosea">Hosea</option>
						<option value="Joel">Joel</option>
						<option value="Amos">Amos</option>
						<option value="Obadiah">Obadiah</option>
						<option value="Jonah">Jonah</option>
						<option value="Micah">Micah</option>
						<option value="Nahum">Nahum</option>
						<option value="Habakkuk">Habakkuk</option>
						<option value="Zephaniah">Zephaniah</option>
						<option value="Haggai">Haggai</option>
						<option value="Zechariah">Zechariah</option>
						<option value="Malachi">Malachi</option>
						<option value="Matthew">Matthew</option>
						<option value="Mark">Mark</option>
						<option value="Luke">Luke</option>
						<option value="John">John</option>
						<option value="Acts">Acts</option>
						<option value="Romans">Romans</option>
						<option value="1 Corinthians">1 Corinthians</option>
						<option value="2 Corinthians">2 Corinthians</option>
						<option value="Galatians">Galatians</option>
						<option value="Ephesians">Ephesians</option>
						<option value="Philippians">Philippians</option>
						<option value="Colossians">Colossians</option>
						<option value="1 Thessalonians">1 Thessalonians</option>
						<option value="2 Thessalonians">2 Thessalonians</option>
						<option value="1 Timothy">1 Timothy</option>
						<option value="2 Timothy">2 Timothy</option>
						<option value="Titus">Titus</option>
						<option value="Philemon">Philemon</option>
						<option value="Hebrews">Hebrews</option>
						<option value="James">James</option>
						<option value="1 Peter">1 Peter</option>
						<option value="2 Peter">2 Peter</option>
						<option value="1 John">1 John</option>
						<option value="2 John">2 John</option>
						<option value="3 John">3 John</option>
						<option value="Jude">Jude</option>
						<option value="Revelation">Revelation</option>
					</select>
				</div>
				<div class="row requiredRow">
					<label for="begin_chapter" id="begin_chapter-ariaLabel">begin_chapter</label>
					<input id="begin_chapter" name="begin_chapter" type="number" aria-labelledby="begin_chapter-ariaLabel" class="required" title="book. This is a required field" min="1" max="150" step="1" value="1">
				</div>
				<div class="row">
					<label for="end_chapter" id="end_chapter-ariaLabel">end_chapter</label>
					<input id="end_chapter" name="end_chapter" type="number" aria-labelledby="end_chapter-ariaLabel" title="book. This is a required field" min="1" max="150" step="1">
				</div>
				<div class="row requiredRow">
					<label for="begin_verse" id="begin_verse-ariaLabel">begin_verse</label>
					<input id="begin_verse" name="begin_verse" type="number" aria-labelledby="begin_verse-ariaLabel" class="required" title="book. This is a required field" min="1" max="176" step="1" value="1">
				</div>
				<div class="row requiredRow">
					<label for="end_verse" id="end_verse-ariaLabel">end_verse</label>
					<input id="end_verse" name="end_verse" type="number" aria-labelledby="end_verse-ariaLabel" class="required" title="book. This is a required field" min="1" max="176" step="1">
				</div>
				<div class="row">
					<label for="txt_summary" id="summary-ariaLabel">summary</label>
					<input id="txt_summary" name="txt_summary" type="text" aria-labelledby="summary-ariaLabel">
				</div>
				<div class="row requiredRow">
					<label for="txt_preacher" id="preacher-ariaLabel">preacher</label>
					<input id="txt_preacher" name="txt_preacher" type="text" aria-labelledby="preacher-ariaLabel" class="required" title="preacher. This is a required field">
				</div>
				<div class="row">
				<input type="submit" value="Upload">
				</div>
			</form>
		</div>
{% endblock %}


