{% extends "base_events.html" %}

{% block primary-content %}
<h2>Annual/Seasonal</h2>

<h3>Mission Sunday</h3>
<p>Once a year, on a Sunday morning in June, we invite a London City Missionary we support to share something of his work and to preach. It also gives us a good excuse to sing Chris Idle’s contemporary hymn: “God of the world’s great cities...”</p>

<h3>Church outing</h3>
<p>Our trip by coach to Littlehampton is an annual event in our church’s summer calendar.  It’s a time for relaxation and to join in games (for those who are so inclined).  We also usually meet up with another local church.</p>

<h3>Holiday club</h3>
<p>For four days, during the school summer holidays, children from the district aged between five and eleven learn from the Bible and enjoy games, craft making and competitions.</p>

<h3>Harvest thanksgiving</h3>
<p>This is an opportunity to express our gratitude to God the Giver of all and, through our own giving, to share with others who lack what we can so easily take for granted.</p>

<h3>Christmas services</h3>
<p>On the Sunday evening nearest Christmas, we have ‘Carols by Candlelight’ a series of lessons and carols with a short message at the end.  On Christmas Day we hold an all-age service at 10.00 am.</p>

<h3>Easter meetings</h3>
<p>On Good Friday and Easter Day, we hold special Easter services and on the Wednesday, Thursday and Friday of Easter week, we unite with other churches in the area for a series of evening meetings with invited preachers.</p>
	
{% endblock %}
