{% extends "../base.html" %}

{% block title %}Hounslow West Evangelical Church - Events...{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
			<div id="secondary-nav">
			<h2>Events...</h2>
			<ul id="content-nav">
				<li>
					<h3><a href="/events/weekly/">Weekly</a></h3>
					<p>
						 Worship services,
						 Sunday school,
						 Prayer meeting/bible study/catechism,
						 11 up,
						 Women's fellowship,
						 Football...  
					</p>
				</li>
				<li>
					<h3><a href="/events/monthly/">Monthly</a></h3>
					<p>
						 Communion service, 
						 Inspiration,
						 Lunch and listen,
						 Table outreach,
						 Care home services,
						 Ladies' evening bible study,
						 Men's breakfast,
						 16+...  
					</p>
				</li>
				<li>
					<h3><a href="/events/annual/">Annual/seasonal</a></h3>
					<p>
						 Mission Sunday,
						 Church outing,
						 Holiday club,
						 Harvest thanksgiving,
						 Christmas services,
						 Easter meetings...  
					</p>
				</li>	
			</ul>
			</div>
			
			<div id="primary-content">
				{% block primary-content %}
				<h2>Weekly</h2>
				
				<div style="float:right; display: block; margin: 0em 0.7em 0.7em 0.7em;">
				<img src="/imgs/some_folk.png" style="" />
				<blockquote><em><span style="font-size: 75%;">Some HWEC folk</span></em></blockquote>
				</div>
				<h3>Sunday</h3>		
				<h4>Worship services (11:00am and 6:30pm)</h4>
				<p>Join us for Sunday morning or evening worship. Both events are structured meetings consisting of prayer, the singing of hymns and psalms, and a preached sermon. A creche is available for children aged 3 years and under. Normally, we use <a href="http://app.praise.org.uk/"><em>Praise!</em></a> for psalms, hymns and spiritual songs; the <em>NIV</em> translation for Scripture readings.</p>
				<h4>Sunday school</h4>
				<p>The Sunday school currently caters for children between the ages of 4 and 11, and is held at the same time as our morning worship. There are two classes, for the approximate age ranges 4-7 and 7-11, which match the age ranges of the local infant and junior schools. If you have any query about the Sunday School, then feel free to <a href="mailto:sunday.school@hwec.org.uk">ask us a question</a>.</p>
				<!--
				<h3>Monday</h3>
				<p>...</p>
				-->
				<h3>Tuesday</h3>
				<h4>Women's fellowship</h4>
				<p>The name says it all! At 2:00pm on Tuesdays, the Women's fellowship meets in the back room. Get together with your friends of all ages for conversation, hymn singing and an interesting Christian talk. Oh, did I forget to mention the tea and biscuits? See more programme for details.</p>
				<!--
				<h3>Wednesday</h3>
				<p>...</p>
				-->
				<h3>Thursday</h3>
				<h4>Prayer meeting/bible study/catechism (7:30pm)</h4>
				<p>Prayer meeting 1st, 3rd and 5th weeks (where applicable); bible study/catechism 2nd and 4th weeks. <em>We aim to finish the meeting by 8:45pm.</em></p>
				
				<h3>Friday</h3>
				<h4>11 up (7:45pm to 9:30pm)</h4>
				<p>The format of 11 up is aimed at older children, being intended for 11-15 year olds. The club starts at 19:45, with quarter of an hour of games. There follows a 20-30 minute time of Bible study and discussion. The rest of the evening, until closing time at 21:15, is left for a free choice of snooker/pool, table tennis, board games (such as chess and draughts) and/or a group activity in the hall. A tuck shop is available towards the end of the evening for refreshments and various confectionary. If you'd like to know more, then <a href="mailto:11_up@hwec.org.uk">ask away</a>!</p>
				
				<div style="float:right; display: block; margin: 0em 0.7em 0.7em 0.7em;">
				<img src="/imgs/football_225x100.png" style="border: 1px #e9e9e9 solid;" />
				<blockquote><em><span style="font-size: 75%;">Football in Lampton Park</span></em></blockquote>
				</div>
				<h3>Saturday</h3>
				<h4>Football in Lampton Park (11:30am)</h4>
				<p>Ask <a href="mailto:davidh@hwec.org.uk">David Hollands</a> for details.</p>
				
				<p><a href="#">Back to top &#8224;</a></p>
				{% endblock %}
			</div>
{% endblock %}
