{% extends "base_events.html" %}

{% block title %}Hounslow West Evangelical Church - Events...{% endblock %}

{% block primary-content %}
<h2>Monthly</h2>

<h3>Communion service</h3>
<p>A Communion service for Christian believers is held on the first Sunday of every month. Please speak to <a href="mailto:minister@hwec.org.uk">the minister</a> or one of <a href="mailto:elders@hwec.org.uk">the elders</a> for more information.</p>

<h3>Inspiration</h3>
<p>Inspiration is a meeting for young people aged around 14-25, which occurs after morning worship, usually on the third Sunday of each month, for lunch, Bible study and fellowship. Please speak to <a href="mailto:davidh@hwec.org.uk">David Hollands</a> if you would like to come.</p>

<h3>Lunch and listen</h3>
<p>1st Tuesday in the month at 2:00pm: "Lunch and listen" (except April, August and September). Lunch will be provided free of charge  but a box will be available, should you wish to make a donation. To help with catering arrangements, we’d appreciate it if you could let us know that you’d like to come. Please speak to <a href="mailto:ruth@hwec.org.uk">Ruth Hollands</a>.</p>

<div style="float:right; display: block; margin: 0em 0.7em 0.7em 0.7em;">
<img src="/imgs/tube_table_outreach.png" style="border: 1px #e9e9e9 solid;" />
<blockquote><em><span style="font-size: 75%;">Table outreach outside Hounslow West market</span></em></blockquote>
</div>
<h3>Table outreach</h3>
<p>Once a month on a Saturday morning (check noticeboard for date) we meet at the church building at 9:30am for prayer, then to setup a literature table outside the market near Hounslow West tube station. We require men for carrying the table and the evangelistic board/trestle, but all who have a desire to reach the neighbourhood with the gospel are very welcome. Please speak to <a href="mailto:vic@hwec.org.uk">Vic Pool</a> for more information.</p>

<h3>Care home services</h3>
<p>Currently, we hold monthly services at the following local care homes: The Limes in Ashford, Charlotte House in Isleworth, Ashgrove Nursing Home in Hounslow, Vicarage Farm in Heston and The Cloisters in Hounslow. If you would like more details, please contact Ron or Ruth Hollands on 020 8570 6587.</p>

<h3>Ladies' evening bible study</h3>
<p>Normally on the second Monday evening of each month at 7:30pm, ladies meet for bible study. Currently, we are working through "Biblical Womanhood" published by the Good Book company. For more information, contact <a href="mailto:ruth@hwec.org.uk">Ruth Hollands</a> or <a href="mailto:yvonne@hwec.org.uk">Yvonne Pickwick</a>.</p>

<h3>Men's breakfast</h3>
<p>At 9.00am on the last Saturday of every month, men meet together for breakfast, bible study, fellowship and prayer. At the moment, we are working through "Man of God" also published by the Good Book company. For more details ask our minister <a href="mailto:ron@hwec.org.uk">Ron Hollands</a>.</p>

<h3>16+</h3>
<p>It's not untrue to say that human beings are social animals. 16+ hopes to provide fellowship as well as social and evangelistic activities for anyone in the age range (about) 16-30. Aims include: Providing fellowship for existing Christians, reaching people of similar age with the gospel, ordinary socialising (even with members of the opposite sex), and being visible to newcomers to the church.</p>
<p>To meet these aims, we meet regularly once a month after Sunday evening worship in somebody's home. Currently we do this in partnership with young people from Hayes Town Chapel. To find out more, contact <a href="mailto:dave.appleton@hwec.org.uk">Dave Appleton</a>.</p>
 
{% endblock %}
